.btn {
    width: 75px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 40px;
    text-align: center;
}
.imageThumbnail {
    height: 200px;
    width: auto;
    text-align: center;
}
