@{
    ViewBag.Title = "Not Found";

}
<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not Found Error</h4>
    <hr />
    <h5>
        @ViewBag.ErrorMessage
    </h5>
    <hr />
    <h5>
        @ViewBag.Path
    </h5>
    <hr />
    <h5>
        @ViewBag.QS
    </h5>

</div>

<div>
    <img src="~/images/12.jpg" imageThumbnail />
</div>

<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    Click here to return to the home page
</a>