@model UnitAddViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewBag.Title = "Add Unit";
}
<form enctype="multipart/form-data" asp-controller="home" asp-action="add_unit" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Attack" class="col-sm-2 col-form-label">Attack</label>
        <div class="col-sm-10">
            <input asp-for="Attack" class="form-control">
            <span asp-validation-for="Attack" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Defense" class="col-sm-2 col-form-label">Defense</label>
        <div class="col-sm-10">
            <input asp-for="Defense" class="form-control">
            <span asp-validation-for="Defense" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="min_Damage" class="col-sm-2 col-form-label">Minimum Damage</label>
        <div class="col-sm-10">
            <input asp-for="min_Damage" class="form-control">
            <span asp-validation-for="min_Damage" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="max_Damage" class="col-sm-2 col-form-label">Maximum Damage</label>
        <div class="col-sm-10">
            <input asp-for="max_Damage" class="form-control">
            <span asp-validation-for="max_Damage" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Health" class="col-sm-2 col-form-label">Health</label>
        <div class="col-sm-10">
            <input asp-for="Health" class="form-control">
            <span asp-validation-for="Health" class="text-danger"> </span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Faction" class="col-sm-2 col-form-label">Faction</label>
        <div class="col-sm-10">
            <select asp-for="Faction" class="custom-select mr-sm-2"
                    asp-items="Html.GetEnumSelectList<Factions>()"></select>

        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input asp-for="Photo" class="form-control custom-file-input">
                <label class=" custom-file-label"></label>
            </div>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>

    @section Scripts  {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
        </script>
    }
</form>