@model IEnumerable<Units>

@{
    ViewBag.Title = "Home Screen";
}
<style type="text/css">



</style>
<body style="background-image:url('/images/tlo.png'); background-size: cover;  
background-repeat: no-repeat; min-height:100%">
    <br>
    <div class="text-center">
        <h1>Piekna strona startowa</h1>
    </div>
    

</body>


   